/Q2/laravel-validator/.phpunit.cache
/Q2/laravel-validator/node_modules
/Q2/laravel-validator/public/build
/Q2/laravel-validator/public/hot
/Q2/laravel-validator/public/storage
/Q2/laravel-validator/storage/*.key
/Q2/laravel-validator/storage/pail
/Q2/laravel-validator/vendor
/Q2/laravel-validator/.env
/Q2/laravel-validator/.env.backup
/Q2/laravel-validator/.env.production
/Q2/laravel-validator/.phpactor.json
/Q2/laravel-validator/.phpunit.result.cache
/Q2/laravel-validator/Homestead.json
/Q2/laravel-validator/Homestead.yaml
/Q2/laravel-validator/auth.json
/Q2/laravel-validator/npm-debug.log
/Q2/laravel-validator/yarn-error.log
/Q2/laravel-validator/.fleet
/Q2/laravel-validator/.idea
/Q2/laravel-validator/.nova
/Q2/laravel-validator/.vscode
/Q2/laravel-validator/.zed